@import url("https://fonts.googleapis.com/css?family=Audiowide");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    padding: 30px 20px 20px 20px;
    gap: 10px;
    background-color: #4b5d67;
    border: 1px solid #000;
}

.logo {
    grid-area: 1 / 1 / 2 / 5;
    font-family: "Audiowide";
    color: white;
    font-size: 1rem;
    text-shadow: 1px 1px 2px black;
}

.display-top,
.display-bottom {
    font-family: "Segment7Standard";
    font-weight: normal;
    font-style: italic;
    font-size: 3rem;
    border: 1px solid #000;
}

.display {
    grid-area: 2 / 1 / 3 / 5;
    background-color: #e8dfca;
    font-family: "Segment7Standard";
    font-weight: normal;
    font-style: italic;
    font-size: 3rem;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0.25rem;
    border: 1px solid #000;
}

.display.active {
    color: transparent;
    /* display: none; */
    /* color: #e8dfca; */
}

.btn {
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 2rem;
    font-family: impact;
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

#clear {
    grid-area: 3 / 1 / 4 / 3;
    background-color: #f5efe6;
}

#delete {
    grid-area: 3 / 3 / 4 / 5;
    background-color: #aebdca;
}

.btn:hover {
    cursor: pointer;
}

.btn.active {
    transform: translateY(5%);
}

footer {
    position: fixed;
    bottom: 0px;
}
